
@use "global" as *;

.c-hamburger {
    position: relative;
    width: rem(20);
    height: rem(16);
    z-index: 100;
}

.c-hamburger span {
    position: absolute;
    width: inherit;
    height: rem(1);
    background-color: $color-blue;
    transition: .3s;
}

.c-hamburger span:nth-child(1) {
    top: 0;
}

.c-hamburger span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
}

.c-hamburger span:nth-child(3) {
    top: 95%;
}

.c-hamburger.is-active span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
}

.c-hamburger.is-active span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
}

.c-hamburger.is-active span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
}

