@use "global" as *;

.p-features__inner {
    padding-top: rem(60);

    @include mq(md) {
        padding-top: rem(140);
    }
}

.p-features__cards {
    margin-top: rem(46);
    max-width: rem(500);
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include mq(md) {
        max-width: rem(973);
    }
}

.p-features__card {
    padding-left: rem(15);
    padding-right: rem(15);
    @include mq(md) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

.p-features__card:nth-child(n + 2) {
    margin-top: rem(85);

    @include mq(md) {
        margin-top: rem(170);
    }
}

.p-features__card:nth-child(even) {
    @include mq(md) {
        flex-direction: row-reverse;
        margin-right: -10%;
    }    
}

.p-features__card:nth-child(n + 2) > .p-features__image {
    @include mq(md) {
        margin-left: -1%;
    }
}

.p-features__info {
    position: relative;
    z-index: 1;

    @include mq(md) {
        width: 53%;
    }
}

.p-features__info-number {
    position: absolute;
    font-size: rem(144);
    color: #FFF5F7;
    z-index: -1;
    top: rem(-75);
    left: rem(-20);

    @include mq(md) {
        font-size: rem(288);
        top: rem(-130);
        left: rem(-90);
    }
}

.p-features__info-title {
    font-size: rem(18);
    font-weight: $medium;

    @include mq(md) {
        font-size: rem(24);
    }
}

.p-features__info-text {
    margin-top: rem(11);
    font-size: rem(14);

    @include mq(md) {
        font-size: rem(16);
        line-height: 1.8;
    }
}

.p-features__image {
    margin-top: rem(30);
    padding-left: rem(15);
    padding-right: rem(15);

    @include mq(md) {
        width: 29%;
        margin-left: 10%;
    }
}


.p-features__btn {
    margin-top: rem(60);

    @include mq(md) {
        margin-top: rem(150);
    }
}