@use "global" as *;

.pc-nav {

}

.pc-nav__items {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.pc-nav__item,
.pc-nav__item a {
    height: inherit;
}

.pc-nav__item a {
    display: flex;
    align-items: center;
    font-size: rem(18);
    line-height: 1;
    padding-left: rem(15);
    padding-right: rem(14);

}

.pc-nav__item:last-child a {
    padding-right: 0;
}

.pc-nav__item:first-child a {
    padding-left: 0;
}

.pc-nav__item--pink {
    color: $color-pink;
}